$pink: #E90B33;
$pink1: #FF5A5A;
.addmeasurements{
    background-color: $pink;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    color:white;
    &-title{
        display:flex;
        width:100%;
        justify-content:center;
        font-size:2rem;
        font-weight: 600;
        padding:2rem 1rem 0rem 1rem;
    }
    &__container{
        display:flex;
        width:100%;
        height:600px;
        flex-direction: row;
        justify-content: space-evenly;
        padding:2rem;
        align-items: center;
        
        &__oldmeasurementscontainer{
            background-color:$pink1;
            display:flex;
            flex-direction: column;
            padding:1rem 2rem 1rem 2rem;
            min-width: 250px;
            width:500px;
            margin-right: 2rem;
            height:450px;

            &-title{
                display:flex;
                width:100%;
                justify-content:center;
                font-size:1.5rem;
                font-weight: 600;
                
            }
            &__data{
                padding-top:1rem;
                display:flex;
                width: 100%;
                justify-content: center;

            }
            &__elements{
                display:flex;
                flex-direction: column;
                padding-top:2rem;
                &__element{
                    padding-top:0.5rem;
                    font-weight: 600;
                    font-size:1.2rem;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &-result{
                        width:70px;
                        text-align:center;
                    }
                    &-result::after{
                        content: '';
                        display: block;
                        background-color: white;
                        width:70px;
                        height:2px;
                    }
                }
            }
        }
        &__newmeasurementscontainer{
            background-color:$pink1;
            display:flex;
            flex-direction: column;
            padding:1rem 2rem 1rem 2rem;
            width:500px;
            height:450px;
            &-title{
                display:flex;
                width:100%;
                justify-content:center;
                font-size:1.5rem;
                font-weight: 600;
            }
            &__data{
                padding-top:1rem;
                display:flex;
                width: 100%;
                justify-content: center;
                &-input{
                    display:block;
                }
                
                &-input::after{
                    display:block;
                    content: "";
                    background-color: white;
                    width:200px;
                    height:2px;
                }
                input{
                    background-color: $pink1;
                    border:none
                }
                input::after{
                    content: "";
                    width:200px;
                    height:2px;

                }
            }
            &-data::after{
                content: "";
                background-color: white;
                width:200px;
                height:2px;

            }
            &__elements{
                display:flex;
                flex-direction: column;
                padding-top:2rem;
                
                &__element{
                    font-size:1.2rem;
                    padding-top:0.5rem;
                    font-weight: 600;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &-button{
                        display:flex;
                        justify-content: end;
                        width: 100%;
                        padding:1rem;
                        button{
                            padding:0.5rem 1rem 0.5rem 1rem;
                            background-color:white;
                            color:$pink;
                            border-color:$pink;
                            border-width: medium;
                            font-weight: 600;
                        }
                        button:hover{
                            cursor:pointer;
                        }
                    }
                    &-result{
                        width:150px;
                        
                        
                        input{
                            width: 100%;
                            border: none;
                            background-color:$pink1;
                            color:white;
                            font-weight: 600;
                            font-size:0.9rem;
                        }
                    }
                    &-result::after{
                        content: '';
                        display: block;
                        background-color: white;
                        width:150px;
                        height:2px;
                    }
                }
            }}
    }

}
.react-datepicker-wrapper{
    width:200px;
}
.react-datepicker-wrapper:hover{
    cursor:pointer;
}
.react-datepicker__input-container{
    width: 100%;
    margin:auto;
    input{
        width:100%;
        text-align: center;
        color:white;
        font-size:0.9rem;
        font-weight: 600;
    }
    input:hover{
        cursor:pointer;
    }
}
