.navbar{
    
    &__row{
        width:100%;
        height:100px;
        background-color:blue;
    }
    &__column{
        height:100%;
        width:100px;
        background-color:green;
    }
}
.sidenav---sidenav---_2tBP{
    background-color: #E90B33;
    border-right-width: medium;
    border-right-style: solid;
    border-right-color: white;
}